<section class="py-[55px] bg-[#e8e6e7]">
  <div class="text-center w-[80%] md:w-[60%] mx-auto">
    <a
      href="https://access.sarah-westcott.com/i/all-the-things"
      class="underline"
      ><p class="text-2xl font-bold" style="word-spacing: 0.4rem">
        VISIT MY
        <span class="text-[#8B0000]"> ALL THE THINGS</span> PAGE
      </p>

      <span style="text-decoration:underline;" class="wixui-rich-text__text">
        (affectionately known as the everything page)
        <br class="wixui-rich-text__text">
        to access My Ever-Expanding Library of great resources!
        <br class="wixui-rich-text__text">
        <br class="wixui-rich-text__text">
        Alternately, use the links below to filter your search!
      </span>

      <style>
        h1 {
          color: #f4efeb;
        }
      </style>
    </a>
  </div>
  <div
    class="flex flex-col md:flex-row justify-center mx-14 mt-10 gap-5 md:gap-10"
  >
    <a
      href="https://access.sarah-westcott.com/i/all-the-things#money"
      class="underline"
      ><p
        class="font-bold text-[#8B0000] text-center text-[18px] bg-[#f4efeb] uppercase"
      >
        Everything Money
      </p></a
    >
    <a
      href="https://access.sarah-westcott.com/i/all-the-things#referrals"
      class="underline"
    >
      <p
        class="font-bold text-[#8B0000] text-center text-[18px] bg-[#f4efeb] uppercase"
      >
        Everything REFERRALS
      </p>
    </a>
    <a
      href="https://access.sarah-westcott.com/i/all-the-things#education"
      class="underline"
      ><p
        class="font-bold text-[#8B0000] text-center text-[18px] bg-[#f4efeb] uppercase"
      >
        Everything EDUCATION
      </p></a
    >
  </div>
</section>
