<footer
  class="bg-[#f6f1ed] border-t border-[#e0d6d0] shadow-md shadow-gray-400 pt-[40px] pb-[20px]"
>
  <div
    class="container mx-auto flex flex-col md:flex-row gap-5 justify-center md:justify-start items-center md:pl-[200px]"
  >
    <!-- Left side navigation -->
    <nav class="flex space-x-6 text-gray-500 text-sm">
      <a href="#" class="hover:underline">About</a>
      <a href="#" class="hover:underline">All The Things</a>
      <a href="#" class="hover:underline">Contact</a>
    </nav>

    <!-- Right side copyright -->
    <p class="text-gray-500 text-sm md:ml-20">
      © 2024. SW Financial Solutions, LLC.
    </p>
  </div>
</footer>
