<div class="relative w-full">
  <div
    class="w-full h-[600px] md:h-[400px] bg-cover bg-center relative"
    style="background-image: url('img/bg-sarah.png')"
  >
    <div class="absolute inset-0 bg-black/30"></div>
    <div
      class="relative flex flex-col ml-4 md:ml-36 gap-10 md:gap-[50px] pt-10 md:pt-[1rem] md:flex-row items-center md:items-start justify-start h-full px-4 md:px-12"
    >
      <div class="relative w-[10rem] md:w-[14rem]">
        <div
          class="absolute top-[3rem] md:top-[5rem] left-[-1rem] md:left-[-2rem] w-[12rem] md:w-[17rem] h-[10rem] md:h-[15rem] bg-gray-800"
        ></div>
        <img
          src="img/sarah.png"
          alt="Profile"
          class="relative w-full object-contain"
        />
      </div>
      <div
        class="bg-white/50 w-full my-auto md:w-[650px] h-[200px] md:h-[300px] font-bold text-[16px] md:text-[20px] md:p-8 text-center md:text-center md:mt-[20px] md:ml-10"
      >
        <h1 class="text-xl md:text-5xl md:pt-8 pt-8 font-bold text-[#657E99]">
          SARAH WESTCOTT
        </h1>
        <p class="text-sm md:text-2xl font-semibold md:pt-8 pt-8 text-[#657E99]">
          PERSONAL CFO • REFERRAL STRATEGIST
        </p>
        <p class="text-xs md:text-2xl md:pt-8 pt-8 text-[#657E99]">
          ~ AUTHOR ~ EDUCATOR ~ SPEAKER
        </p>
      </div>
    </div>
  </div>
</div>
